.container {
    flex-grow: 1;
    max-height: 100vh;
    min-height: 0;
    display: flex;
    user-select: none;
    flex-direction: row;
}

.canvas {
    flex-grow: 1;
    @apply bg-neutral-800;
}
