.container {
    height: 100vh;
    display: flex;
    user-select: none;
    flex-direction: row;
}

.sidebar {
    width: 240px;
    @apply bg-neutral-700;
}

.canvas {
    flex-grow: 1;
    @apply bg-neutral-800;
}
